<div align="center">
    <h4>Compiled by: Aniket Yadav and Munish Mongia</h4>
</div>

## About Pandas
Pandas is a powerful and versatile Python library primarily used for data manipulation, analysis, and cleaning. It is particularly well-suited for working with structured and tabular data, making it a valuable tool for a wide range of data-related problems. Here are some common problems that can be solved using Pandas:

**Data Cleaning and Preprocessing:**
  - Handling missing values: Pandas provides methods to identify, fill, or drop missing data.
  - Data transformation: Reformatting data, converting data types, and handling outliers.
  - Removing duplicates: Identifying and removing duplicate rows from datasets.
  - Data normalization and scaling: Standardizing data for consistent analysis.

**Data Analysis and Exploration:**
  - Descriptive statistics: Calculating mean, median, mode, variance, and other summary statistics.
  - Grouping and aggregation: Grouping data by specific attributes and applying aggregate functions.
  - Pivot tables: Creating summary tables for cross-tabulation and analysis.
  - Time series analysis: Handling date and time data, resampling, and analyzing trends.

**Data Visualization:**
  - Plotting and charting: Creating various types of graphs, such as line plots, bar plots, and histograms.
  - Exploratory data visualization: Visualizing relationships and patterns in the data.

**Data Transformation and Manipulation:**
  - Merging and joining: Combining datasets based on common keys or indices.
  - Filtering and subsetting: Selecting specific rows or columns based on conditions.
  - Applying functions: Applying custom functions to rows, columns, or elements of the data.

**Data Input and Output:**
  - Reading and writing data: Loading data from various file formats (CSV, Excel, SQL databases) and saving processed data.

**Time Series Analysis:**
  - Handling time-indexed data: Resampling, shifting, and rolling calculations for time series data.
  - Moving averages: Calculating rolling averages and other time-based statistics.

**Statistical Analysis and Modeling:**
  - Hypothesis testing: Conducting t-tests, ANOVA, and other statistical tests.
  - Correlation and regression analysis: Analyzing relationships between variables.
  - Feature engineering: Creating new features from existing data for machine learning.

**Data Wrangling for Machine Learning:**
  - Feature selection: Selecting relevant features for machine learning models.
  - Data transformation: Preparing data in the required format for machine learning algorithms.

These are just a few examples of the types of problems that Pandas can help solve. Its flexibility and ease of use make it an essential tool for data analysts, scientists, and engineers working with structured data.

### Installing Pandas
You can install Pandas using the following command:

In [ ]:
!pip install pandas

### What is a DataFrame, and what is a Series?
DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

First let us import required libraries (you may need to install other libraries!):

In [ ]:
import pandas as pd                         # import pandas
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from numpy.random import randn
np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [ ]:
df

### Data Manipulation using Pandas: *Indexing, Slicing, Filtering and Combining*

In [ ]:
df['W']

In [ ]:
# Pass a list of column names
df[['W','Z']]

In [ ]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

In [ ]:
# Dataframe columns are just series
type(df['W'])

In [ ]:
# Creating new column
df['new'] = df['W'] + df['Y']

In [ ]:
df

In [ ]:
# Removing a column
df.drop('new',axis=1)
df

In [ ]:
# Why did the above not work?
# ... it worked, but a new copy of df was created by default ...

In [ ]:
# However, if we want to drop a column without creating a copy, we can use "inplace" as shown below
df.drop('new',axis=1,inplace=True)
df

In [ ]:
# Can also drop rows
df.drop('E',axis=0, inplace=True)
df

In [ ]:
# Selecting rows
df.loc['A']

In [ ]:
# Or select based on the row position instead of label (Note: row numbering starts at '0')
# The following statement selects the third row
df.iloc[2]

In [ ]:
# Selecting subset of rows and columns
df.loc['B','Y']

In [ ]:
df.loc[['A','B'],['W','Y']]

**Questions:**
> *Answer the following questions in the cell(s) provided below. For theory questions, you can write your answer in the cell as a comment. You can add more cells also.*
1. How would you extract the first three rows of a DataFrame using indexing and slicing? Form a sample dataset and extract the first three rows of a DataFrame using indexing and slicing

In [ ]:
### YOUR CODE HERE ###

### Data Analysis using Pandas: *Merging, Grouping, Descriptive statistics, Data Visualization*
#### Merging
The **merge** function allows you to merge DataFrames together using a similar logic as merging SQL Tables together. For example:

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left,right,how='inner',on='key')

**Questions:**
> *Answer the following questions in the cell(s) provided below. For theory questions, you can write your answer in the cell as a comment. You can add more cells also.*
2. Merge the following:
```python
   left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                        'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})

   right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                        'key2': ['K0', 'K0', 'K0', 'K0'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})
```
3. Describe the differences between the `merge()` and `concat()` functions in Pandas when it comes to combining multiple DataFrames. Read about `concat()` function [here](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)

In [ ]:
### YOUR CODE HERE ###

#### Grouping
The `groupby` method allows you to group rows of data together and call aggregate functions

In [ ]:
# Create dataframe
df = pd.DataFrame({'team': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
                   'position': ['G', 'F', 'F', 'G', 'F', 'F', 'G', 'G'],
                   'points': [30, 22, 19, 14, 14, 11, 20, 28],
                   'assists': [4, 3, 7, 7, 12, 15, 8, 4]})
print(df)

In [ ]:
by_team=df.groupby('team')

Now you can use the .`groupby()` method to group rows together based on a column name. For instance let's group based on Team. This will create a DataFrameGroupBy object:

#### Descriptive Statistics on grouped data

In [ ]:
df = pd.DataFrame({'team': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
                   'position': ['G', 'F', 'F', 'G', 'F', 'F', 'G', 'G'],
                   'points': [30, 22, 19, 14, 14, 11, 20, 28],
                   'assists': [4, 3, 7, 7, 12, 15, 8, 4]})
print(df)
by_team=df.groupby('team')
print(by_team['points'].mean())

In [ ]:
df.groupby('team')['points'].mean()

In [ ]:
by_team['points'].std()

In [ ]:
by_team['points'].min()

In [ ]:
by_team['points'].max()

In [ ]:
by_team.count()

In [ ]:
by_team.describe()

**Questions:**
> *Answer the following questions in the cell(s) provided below. For theory questions, you can write your answer in the cell as a comment. You can add more cells also.*
4. For the DataFrame named sales_data given below containing information about sales transactions, including columns "product", "category", and "sales_amount", write a code snippet to group the data by "category" and calculate the total sales amount for each category.
```python
   data = {'product': ['A', 'B', 'A', 'C', 'B', 'C', 'A', 'B'],
           'category': ['X', 'Y', 'X', 'Z', 'Y', 'Z', 'X', 'Y'],
           'sales_amount': [100, 150, 120, 80, 200, 90, 110, 180]}

   sales_data = pd.DataFrame(data)
   sales_data
```

5. For the DataFrame named employee_data given below which contains employee information including "department", "salary", and "gender", write a code snippet to group the data by "department" and calculate both the average salary and the maximum salary for each department.
```python
   data = {'department': ['HR', 'Engineering', 'Engineering', 'HR', 'Finance', 'Finance', 'Engineering', 'HR'],
           'salary': [60000, 75000, 80000, 65000, 70000, 72000, 77000, 62000],
           'gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female']}

   employee_data = pd.DataFrame(data)
   employee_data
```

In [ ]:
### YOUR CODE HERE ###

### Data Visualization using Pandas

#### Line Plot

In [ ]:
# Create a DataFrame
data = {'Year': [2010, 2011, 2012, 2013, 2014],
        'Revenue': [50000, 55000, 60000, 62000, 65000]}

df = pd.DataFrame(data)

# Create a line plot
plt.plot(df['Year'], df['Revenue'], marker='o')
plt.title('Revenue Over Years')
plt.xlabel('Year')
plt.ylabel('Revenue ($)')
plt.grid(True)
plt.show()

**Questions:**
> *Answer the following questions in the cell(s) provided below. For theory questions, you can write your answer in the cell as a comment. You can add more cells also.*
6. Explain how do line plots help in understanding relationships between variables? Describe a scenario where pair-wise plots might not be the most suitable visualization technique, and suggest an alternative method.

In [ ]:
### YOUR CODE HERE ###

#### Bar Plot

In [ ]:
# Create a DataFrame
data = {'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
        'Population': [8398748, 3990456, 2716000, 2320268, 1680992]}

df = pd.DataFrame(data)

# Create a bar plot
plt.bar(df['City'], df['Population'])
plt.title('Population of Cities')
plt.xlabel('City')
plt.ylabel('Population')
plt.xticks(rotation=45)
plt.show()

#### Histogram

In [ ]:
# Create a DataFrame
data = {'Scores': [85, 92, 78, 95, 88, 76, 89, 91, 83, 87]}

df = pd.DataFrame(data)

# Create a histogram
plt.hist(df['Scores'], bins=10, edgecolor='black')
plt.title('Student Scores Distribution')
plt.xlabel('Scores')
plt.ylabel('Frequency')
plt.show()

#### Scatter Plot

In [ ]:
# Create a DataFrame
data = {'Height': [165, 170, 155, 180, 160, 175],
        'Weight': [60, 70, 50, 85, 55, 68]}

df = pd.DataFrame(data)

# Create a scatter plot
plt.scatter(df['Height'], df['Weight'], color='blue')
plt.title('Height vs. Weight')
plt.xlabel('Height (cm)')
plt.ylabel('Weight (kg)')
plt.grid(True)
plt.show()

### Box Plot
- Read about Box Plot [here](https://builtin.com/data-science/boxplot)

In [ ]:
# Create a DataFrame
data = {'Category': ['A', 'B', 'A', 'C', 'B', 'C', 'A', 'B'],
        'Value': [10, 20, 15, 5, 25, 8, 12, 18]}

df = pd.DataFrame(data)

# Create a box plot
plt.boxplot([df[df['Category'] == 'A']['Value'],
             df[df['Category'] == 'B']['Value'],
             df[df['Category'] == 'C']['Value']],
            labels=['A', 'B', 'C'])
plt.title('Value Distribution by Category')
plt.ylabel('Value')
plt.show()

**Questions:**
> *Answer the following questions in the cell(s) provided below. For theory questions, you can write your answer in the cell as a comment. You can add more cells also.*

7. On the dataset given below do the following:
   - Create a line plot to visualize the trend of math scores over the five students.
   - Generate a bar plot that shows the average reading scores for each student.
   - Create a histogram to visualize the distribution of ages among the students.
   - Produce a scatter plot to explore the relationship between math and science scores.
   - Design a box plot to visualize the spread of reading scores across students.
   - Create a pie chart to represent the proportion of students within different age groups (e.g., 18-19, 20-21). (read about pie chart [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.pie.html))
   - Generate a heatmap to show the correlation between different subjects' scores.
```python
   data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
           'Age': [18, 20, 19, 21, 18],
           'Math Score': [85, 92, 78, 95, 88],
           'Reading Score': [90, 88, 75, 82, 95],
           'Science Score': [92, 87, 80, 89, 78]}
   student_df = pd.DataFrame(data)
   student_df
```

In [ ]:
### YOUR CODE HERE ###

### Pair Wise Plots

In [ ]:
# Load a dataset
iris = sns.load_dataset('iris')

# Create pair-wise plots
sns.pairplot(iris, hue='species')
plt.show()

Read more about Data visualization using pandas [here](https://pandas.pydata.org/docs/user_guide/visualization.html)

### Correlation Analysis

In [ ]:
# Load a dataset
iris = sns.load_dataset('iris')

# Calculate correlation matrix
correlation_matrix = iris.corr(numeric_only=True)

# Create a heatmap of correlations
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')
plt.show()

### Feature Selection

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

# Load a dataset
iris = sns.load_dataset('iris')

# Separate features and target
X = iris.drop('species', axis=1)
y = iris['species']

# Perform feature selection using SelectKBest
selector = SelectKBest(score_func=f_classif, k=2)
X_new = selector.fit_transform(X, y)

# Get selected features
selected_features = X.columns[selector.get_support()]

print('Selected Features:', selected_features)

The technique used here is SelectKBest. Read more about it [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectKBest.html#sklearn.feature_selection.SelectKBest)

To read more ways of Feature Selection refer [here](https://scikit-learn.org/stable/modules/feature_selection.html)

### Data Cleaning

In [ ]:
# Sample data with missing values
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', "Alice"],
        'Age': [25, None, 30, 28, 22, 25],
        'Salary': [50000, 60000, None, 55000, 45000, 50000]}

df = pd.DataFrame(data)
print("Original Dataset:")
print(df)
# Handling missing values
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Salary'].fillna(df['Salary'].mean(), inplace=True)


# Drop duplicates
df.drop_duplicates(inplace=True)

print("\nDataset after data cleaning Duplicates:")
print(df)

### Outlier Detection

In [ ]:
# Create a sample dataset with outliers
np.random.seed(42)
data = {'Value': np.concatenate((np.random.normal(10, 2, 100), [100, 200, 300]))}
df = pd.DataFrame(data)

# Detect and handle outliers
Q1 = df['Value'].quantile(0.25)
Q3 = df['Value'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers
df_cleaned = df[(df['Value'] >= lower_bound) & (df['Value'] <= upper_bound)]

print("Original Dataset:")
print(df)

print("\nCleaned Dataset after Outlier Removal:")
print(df_cleaned)

### File I/O using PANDAS

In [ ]:
# Read an Excel file into a DataFrame
df = pd.read_csv('gender-age-height-weight.csv')
df.head()

In [ ]:
# Convert the AgeYears and AgeMonths columns to float
df['FinalAge'] = df['AgeYears'] + df['AgeMonths'] / 12

In [ ]:
df.head()

In [ ]:
# Perform one-hot encoding on the Gender column
df_encoded = pd.get_dummies(df, columns=['Gender'])

In [ ]:
# Write the encoded data into a new csv file
df_encoded.to_csv('gender-age-height-weight-encoded.csv', index=False)

In [ ]:
# The above sections and functions are but a very small, but functional, subset of the pandas library
# Feel free to explore more by visiting the pandas documentation at https://pandas.pydata.org